<h2>Estrutura</h2>
<p>
  <b>Estes índices mostram em linhas gerais as decisões financeiras da
    empresa na obtenção e aplicação de recursos</b>
</p>
<!-- PARTICIPAÇÃO DE CAPITAL DE TERCEIROS -->

<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Participação de Capital de Terceiros (PCT)</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>O PCT, também chamado de Grau de Endividamento indica o quanto a
          empresa tomou de capital de terceiros, para cada R$ 100,00 de
          capital próprio investido.</b>
      </p>
      <p>
        <i>Fórmula: PCT = (PC + PNC) / PL x 100 | Quanto menor, melhor</i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>
      <app-grafico [nome1]="'Passivo Circulante'" [nome2]="'Passivo não Circulante'" [nome3]="'Patrimônio Líquido'"
        [valor1]="passivoCirculanteTotalB1" [valor2]="passivoNaoCirculanteTotalB1" [valor3]="patrimonioLiquidoB1">
      </app-grafico>
      <p>
        <i>Passivo Circulante:
          {{ passivoCirculanteTotalB1 | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Passivo não Circulante:
          {{ passivoNaoCirculanteTotalB1 | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Patrimônio Líquido:
          {{ patrimonioLiquidoB1 | number: "1.2-2" }}</i>
      </p>
      <h3 [ngClass]="partCapTercB1 >= 100 ? 'text-red' : 'text-green'">
        {{ partCapTercB1 | number: "1.2-2" }}
      </h3>
      <p *ngIf="partCapTercB1 > 100" class="text-red">
        Para cada R$ 100,00 de Capital próprio (Patrimônio Líquido), a
        empresa possui R$
        {{ partCapTercB1 | number: "1.2-2" }} de capital de terceiros.
      </p>
      <p *ngIf="partCapTercB1 < 100" class="text-green">
        Para cada R$ 100,00 de Capital próprio (Patrimônio Líquido), a
        empresa possui apenas R$
        {{ partCapTercB1 | number: "1.2-2" }} de capital de terceiros.
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>
      <app-grafico [nome1]="'Passivo Circulante'" [nome2]="'Passivo não Circulante'" [nome3]="'Patrimônio Líquido'"
        [valor1]="passivoCirculanteTotalB1" [valor2]="passivoNaoCirculanteTotalB1" [valor3]="patrimonioLiquidoB1">
      </app-grafico>
      <p>
        <i>Passivo Circulante:
          {{ passivoCirculanteTotalB2 | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Passivo não Circulante:
          {{ passivoNaoCirculanteTotalB2 | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Patrimônio Líquido:
          {{ patrimonioLiquidoB2 | number: "1.2-2" }}</i>
      </p>
      <h3 [ngClass]="partCapTercB2 >= 100 ? 'text-red' : 'text-green'">
        {{ partCapTercB2 | number: "1.2-2" }}
      </h3>
      <p *ngIf="partCapTercB2 > 100" class="text-red">
        Para cada R$ 100,00 de Capital próprio (Patrimônio Líquido), a
        empresa possui R$
        {{ partCapTercB2 | number: "1.2-2" }} de capital de terceiros.
      </p>
      <p *ngIf="partCapTercB2 < 100" class="text-green">
        Para cada R$ 100,00 Capital próprio (Patrimônio Líquido), a empresa
        possui apenas R$
        {{ partCapTercB2 | number: "1.2-2" }} de capital de terceiros.
      </p>
    </div>
  </div>
</div>