<!-- prazo médio de renovação de estoque -->
<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Prazo médio de renovação de estoque (PMRE)</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>Indica o tempo médio em que o estoque da empresa é renovado.</b>
      </p>
      <p>
        <i>Fórmula: Estoque médio dos dois anos / custo dos produtos vendidos (CPV) x 360</i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>
      <p>Não se aplica pois não temos os dados do estoque do ano de {{b1.ano -1}}.</p>
    </div>
    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>

      <app-grafico [nome1]="'Estoque Médio'" [nome2]="'Custo dos Produtos Vendidos'" [valor1]="estoqueMedio"
        [valor2]="custoProdutosVendidosB2">
      </app-grafico>
      <p><i> Estoque Ano 1: {{estoqueAno1 | number: "1.2-2"}}</i></p>
      <p><i> Estoque Ano 2: {{estoqueAno2 | number: "1.2-2"}}</i></p>
      <p><i> Estoque Médio: {{ estoqueMedio | number: "1.2-2" }}</i></p>
      <p><i>Custo dos Produtos vendidos:{{ custoProdutosVendidosB2 | number: "1.2-2" }}</i></p>
      <h3>
        {{ pmreB2 | number: "1.2-2" }} dias
      </h3>
      <p>
        O estoque da empresa é renovado a cada
        {{ pmreB2 | number: "1.2-2" }} dias.
      </p>
    </div>
  </div>
</div>
<!-- prazo médio de recebimento de vendas -->
<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Prazo médio de recebimento de vendas (PMRV)</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>Indica o tempo médio em que as vendas são recebidas.</b>
      </p>
      <p>
        <i>Fórmula: Duplicatas a receber média dos dois anos / receita operacional líquida x 360</i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>
      <p>Não se aplica pois não temos os dados de contas a receber do ano de {{b1.ano -1}}.</p>
    </div>
    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>

      <app-grafico [nome1]="'Contas a Receber Média'" [nome2]="'Receita Operacional Líquida'"
        [valor1]="contasReceberMedia" [valor2]="receitaOperacionalLiquidaB2">
      </app-grafico>
      <p>
        <i>
          Contas a Receber Ano 1: {{contasReceberAno1 | number: "1.2-2"}}
        </i>
      </p>
      <p>
        <i> Contas a Receber Ano 2: {{contasReceberAno2 | number: "1.2-2"}}</i>
      </p>
      <p>
        <i> Contas a Receber Média: {{ contasReceberMedia | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Receita Operacional Líquida:
          {{ receitaOperacionalLiquidaB2 | number: "1.2-2" }}</i>
      </p>
      <h3>
        {{ pmrvB2 | number: "1.2-2" }} dias
      </h3>
      <p>
        O tempo médio de recebimento de vendas dos clientes é de
        {{ pmrvB2 | number: "1.2-2" }} dias.
      </p>
    </div>
  </div>
</div>
<!-- prazo médio de pagamento de compras -->
<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Prazo médio de pagamento de compras (PMPC)</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>Indica o tempo médio em que as compras são pagas para os fornecedores.</b>
      </p>
      <p>
        <i>Fórmula: PMPC = Fornecedores média dos dois anos / compras x 360</i>
      </p>
      <p>
        <i>Fórmula para obter o valor das compras realizadas: Compras = CPV + estoque atual - estoque ano anterior</i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>
      <p>Não se aplica pois não temos os dados de Fornecedores do ano de {{b1.ano -1}}.</p>
    </div>
    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>

      <app-grafico [nome1]="'Fornecedores Média'" [nome2]="'Compras'" [valor1]="fornecedoresMedia" [valor2]="comprasB2">
      </app-grafico>
      <p>
        <i>
          Fornecedores ano 1: {{fornecedoresAno1 | number: "1.2-2"}}
        </i>
      </p>
      <p>
        <i>
          Fornecedores ano 2: {{fornecedoresAno2 | number: "1.2-2"}}
        </i>
      </p>
      <p>
        <i>
          Fornecedores Média: {{fornecedoresMedia | number: "1.2-2" }}
        </i>
      </p>
      <p>
        <i>Compras:
          {{ comprasB2 | number: "1.2-2" }}</i>
      </p>
      <h3>
        {{ pmpcB2 | number: "1.2-2" }} dias
      </h3>
      <p>
        O tempo médio de pagamento de compras é de
        {{ pmpcB2 | number: "1.2-2" }} dias.
      </p>
    </div>
  </div>
</div>
<!-- Ciclo Operacional -->
<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Ciclo Operacional</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>Indica o tempo do ciclo de produção que leva deste a compra da matéria prima até o recebimento das
          vendas.</b>
      </p>
      <p>
        <i>Fórmula: Ciclo Operacional = Prazo Médio de renovação de Estoque + Prazo Médio de Recebimento de Vendas</i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>
      <p>Não se aplica.</p>
    </div>
    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>

      <app-grafico [nome1]="'Prazo Médio de Renovação de Estoque'" [nome2]="'Prazo Médio de Recebimento de Vendas'"
        [valor1]="pmreB2" [valor2]="pmrvB2">
      </app-grafico>
      <p>
        <i>Prazo Médio de Renovação de Estoque:
          {{ pmreB2 | number: "1.2-2" }} dias</i>
      </p>
      <p>
        <i>Prazo Médio de Recebimento de Vendas:
          {{ pmrvB2 | number: "1.2-2" }} dias</i>
      </p>
      <h3>
        {{ cicloOperacional | number: "1.2-2" }} dias
      </h3>
      <p>
        O ciclo operacional corresponde em média a
        {{ pmpcB2 | number: "1.2-2" }} dias, da compra até o recebimento de vendas.
      </p>
    </div>
  </div>
</div>
<!-- Ciclo Financeiro -->
<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Ciclo Financeiro</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>Indica a parte de ciclo operacional não financiada pelos fornecedores.
        </b>
      </p>
      <p>
        <i>Fórmula: Ciclo Financeiro = Ciclo Operacional - Prazo Médio de Pagamento de Compras</i>
      </p>
      <p>
        <i>
          Quando o Ciclo Financeiro é negativo a empresa tem uma folga no prazo
          entre o recebimento de vendas e o pagamento das compras tornando uma cituação favorável
        </i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>
      <p>Não se aplica.</p>
    </div>
    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>

      <app-grafico [nome1]="'Ciclo Operacional'" [nome2]="'Prazo Médio de Pagamento de Compras'"
        [valor1]="cicloOperacional" [valor2]="pmpcB2">
      </app-grafico>
      <p>
        <i>Ciclo Operacional:
          {{ cicloOperacional | number: "1.2-2" }} dias</i>
      </p>
      <p>
        <i>Prazo Médio de Pagamento de Compras:
          {{ pmpcB2 | number: "1.2-2" }} dias</i>
      </p>
      <h3>
        {{ cicloFinanceiro | number: "1.2-2" }} dias
      </h3>
      <p>
        Para os {{ cicloOperacional | number: "1.2-2" }} dias do Ciclo Operacional
        {{ pmpcB2 | number: "1.2-2" }} dias são financiados pelos fornecedores e para os outros
        {{ cicloFinanceiro | number: "1.2-2" }} dias
        a empresa precisa buscar financiamento em outras fontes.
      </p>
    </div>
  </div>
</div>