<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a [routerLink]="['']" class="navbar-brand"><b>GIRO</b> Líquido</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ferramentas<span
                class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li routerLinkActive="active"><a [routerLink]="['/analise-de-balanco']">Análise de Balanços</a>
              </li>
              <li routerLinkActive="active"><a [routerLink]="['/analise-financeira-de-projeto']">Análise Financeira de
                  Projeto</a>
              </li>
              <li routerLinkActive="active"><a [routerLink]="['/cnaes-impeditivos-simples-nacional']">Cnaes Impeditivos
                  ao
                  Simples Nacional</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>