<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Análise Vertical - Demonstração do resultado do Exercício</h3>
      </div>
      <div class="box-body">
        <p>
          <b>A Análise vertical tem como propósito determinar a porcentagem de cada
            conta contábil em relação ao total da Receita Operacional Líquida</b>
        </p>
        <p><i>Fórmula: AV = (Conta qualquer/Receita Operacional Líquida)*100</i></p>
        <div class='table-responsive'>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Conta</th>
                <th>{{ dre1.ano }}</th>
                <th>AV</th>
                <th>{{ dre2.ano }}</th>
                <th>AV</th>
                <th>Variação</th>
              </tr>
              <tr *ngFor="let analise of analises">
                <td>
                  <span *ngIf="analise.conta1.tipo === 'A'"> {{ analise.conta1.nome }}</span>
                  <span *ngIf="analise.conta1.tipo === 'S'"><b>{{ analise.conta1.nome }}</b></span>
                </td>
                <td>
                  <span *ngIf="analise.conta1.tipo === 'A'">{{ analise.conta1.valor | number: "1.2-2" }}</span>
                  <span *ngIf="analise.conta1.tipo === 'S'"><b>{{ analise.conta1.valor | number: "1.2-2" }}</b></span>
                </td>
                <td>
                  <span *ngIf="analise.conta1.tipo === 'A'"
                    class="badge bg-light-blue">{{ analise.avAno1 | number: "1.2-2" }}%</span>
                  <span *ngIf="analise.conta1.tipo === 'S'"
                    class="badge bg-light-blue"><b>{{ analise.avAno1 | number: "1.2-2" }}%</b></span>
                </td>
                <td>
                  <span *ngIf="analise.conta2.tipo === 'A'">{{ analise.conta2.valor | number: "1.2-2" }}</span>
                  <span *ngIf="analise.conta2.tipo === 'S'"><b>{{ analise.conta2.valor | number: "1.2-2" }}</b></span>
                </td>
                <td>
                  <span *ngIf="analise.conta2.tipo === 'A'"
                    class="badge bg-light-blue">{{ analise.avAno2 | number: "1.2-2" }}%</span>
                  <span *ngIf="analise.conta2.tipo === 'S'"
                    class="badge bg-light-blue"><b>{{ analise.avAno2 | number: "1.2-2" }}%</b></span>
                </td>
                <td>
                  <span [ngClass]="analise.conta2.grupo === 'soma' ? 'verde' : 'vermelho'"
                    *ngIf="analise.conta1.valor < analise.conta2.valor">
                    <i class="fa fa-arrow-up"></i>
                    {{analise.conta2.valor - analise.conta1.valor | number: "1.2-2"}}</span>
                  <span [ngClass]="analise.conta2.grupo === 'subtrai' ? 'verde' : 'vermelho'"
                    *ngIf="analise.conta1.valor > analise.conta2.valor">
                    <i class="fa fa-arrow-down"></i>
                    {{analise.conta1.valor - analise.conta2.valor | number: "1.2-2"}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>