<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>
<section class="content">
  <div class="jumbotron">
    <h1>Bem vindo</h1>
    <p>
      Toda análise econômico-financeira e de crédito começa pela análise de balanços. É o método mais rápido, abrangente
      e eficiente de conhecer uma empresa.
    </p>
    <p>
      As demonstrações contábeis fornecem uma série de dados sobre as empresas, de acordo com as regras contábeis. A
      análise de balanço
      transforma estes dados em informações úteis para a tomada de decisões.
    </p>
    <p>
      Simplificamos a forma de analisar balanços, a leitura e interpretação fica por nossa conta, a decisão fica por sua
      conta.
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/analise-de-balanco']">Analisar Balanço</a>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->