<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron">
    <h1>Bem vindo ao Balance!</h1>
    <p>
      Análise de balanços de forma ágil e simplificada.
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/home']">Analizar Balanço</a>
  </div>
  <div class="chart">
    <!-- Sales Chart Canvas -->
    <canvas id="salesChart" style="height: 180px; width: 1072px;" height="180" width="1072"></canvas>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->