<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>
<section class="content">
  <div class="col-md-4">
    <div class="jumbotron">
      <h2>Análise de Balanços</h2>
      <p>
        Ferramenta que realiza análise econômico-financeira das demonstrações contábeis de uma empresa.
      </p>
      <a class="btn btn-primary" [routerLink]="['/analise-de-balanco']">Acessar</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <h2>Análise Financeira de Projetos</h2>
      <p>
        Ferramenta que realiza cálculo de viabilidade financeira de projetos.
      </p>
      <a class="btn btn-primary" [routerLink]="['/analise-financeira-de-projeto']">Acessar</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <h2>Atividades impeditivas ao Simples Nacional</h2>
      <p>
        Ferramenta que verifica se determinado CNAE é permitido, ambíguo ou impeditivo ao simples Nacional.
      </p>
      <a class="btn btn-primary" [routerLink]="['/cnaes-impeditivos-simples-nacional']">Acessar</a>
    </div>
  </div>


</section>
<!-- FIM DO CONTEÚDO -->