<!-- Giro do ativo -->
<div class="box box-primary">
  <div class="box-header">
    <h5 class="box-title">Retorno sobre o Patrimônio Líquido (RSPL)</h5>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <p>
        <b>Este índice indica o quanto a empresa obteve de lucro em relação ao capital próprio (Patrimônio Líquido).
          Quando o resultado da empresa for negativo, este índice também será
          negativo e mostrará em quando o patrimônio líquido foi diminuído em função do Prejuízo.
        </b>
      </p>
      <p><i>Fórmula: RSPL = (Lucro Líquido / Patrimônio líquido) * 100 | Quanto maior, melhor</i>
      </p>
    </div>
    <div class="col-md-6">
      <h4>{{ b1.ano }}</h4>

      <app-grafico [nome1]="'Lucro Líquido'" [nome2]="'Patrimônio Líquido'" [valor1]="lucroLiquidoDre1"
        [valor2]="patrimonioLiquidoB1"></app-grafico>
      <p>
        <i>Lucro Líquido: {{ lucroLiquidoDre1 | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Patrimônio Líquido:
          {{ patrimonioLiquidoB1 | number: "1.2-2" }}</i>
      </p>
      <h3 [ngClass]="retornoSobrePl1 >= 1 ? 'text-green' : 'text-red'">
        {{ retornoSobrePl1 | number: "1.2-2" }}
      </h3>

      <p *ngIf="retornoSobrePl1 > 1" class="text-green">
        O capital próprio (Patrimônio Líquido) gerou um retorno de {{ retornoSobrePl1 | number: "1.2-2" }}%, ou seja,
        para cada R$ 100,00 de capital próprio investido a empresa obteve
        R$ {{ retornoSobrePl1 | number: "1.2-2" }} de lucro.
      </p>
      <p *ngIf="retornoSobrePl1 < 1" class="text-red">
        O capital próprio (Patrimônio Líquido) gerou um retorno de {{ retornoSobrePl1 | number: "1.2-2" }}%, ou seja,
        para cada R$ 100,00 de capital próprio investido a empresa obteve
        R$ {{ retornoSobrePl1 | number: "1.2-2" }} de lucro.
      </p>
    </div>

    <div class="col-md-6">
      <h4>{{ b2.ano }}</h4>
      <app-grafico [nome1]="'Lucro Líquido'" [nome2]="'Patrimônio Líquido'" [valor1]="lucroLiquidoDre2"
        [valor2]="patrimonioLiquidoB2"></app-grafico>
      <p>
        <i>Lucro Líquido: {{ lucroLiquidoDre2 | number: "1.2-2" }}</i>
      </p>
      <p>
        <i>Patrimônio Líquido:
          {{ patrimonioLiquidoB2 | number: "1.2-2" }}</i>
      </p>
      <h3 [ngClass]="retornoSobrePl2 >= 1 ? 'text-green' : 'text-red'">
        {{ retornoSobrePl2 | number: "1.2-2" }}
      </h3>

      <p *ngIf="retornoSobrePl2 > 1" class="text-green">
        O capital próprio (Patrimônio Líquido) gerou um retorno de {{ retornoSobrePl2 | number: "1.2-2" }}%, ou seja,
        para cada R$ 100,00 de capital próprio investido a empresa obteve
        R$ {{ retornoSobrePl2 | number: "1.2-2" }} de lucro.
      </p>

      <p *ngIf="retornoSobrePl2 < 1" class="text-red">
        O capital próprio (Patrimônio Líquido) gerou um retorno de {{ retornoSobrePl2 | number: "1.2-2" }}%, ou seja,
        para cada R$ 100,00 de capital próprio investido a empresa obteve
        R$ {{ retornoSobrePl2 | number: "1.2-2" }} de lucro.
      </p>
    </div>
  </div>
</div>