/* You can add global styles to this file, and also import other style files */
.table-border{
    border-bottom: 1px solid rgb(170, 170, 170)
}
.vermelho{
    color: red;
}
.verde{
    color: green;
}

.jumbotron {
    background-color:#ffff !important;
}
.hr-class {
    border-top: 1px dashed #3c8dbc;
    border-bottom: 1px solid #3c8dbc;
    color: #fff;
    background-color: #fff;
    height: 4px;
  }
.hr-class-two{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
}


