/* You can add global styles to this file, and also import other style files */
.table-border{
    border-bottom: 1px solid rgb(170, 170, 170)
}
.vermelho{
    color: red;
}
.verde{
    color: green;
}

.jumbotron {
    background-color:#ffff !important;
}



